<div id="container-options">
    <header class="container-header">
        <ul class="header-menu header-menu-l">
            <li> <a href="#"> <i class="fa fa-chevron-left"></i> </a> </li>
        </ul>
        <h1>options</h1>
    </header>
    <section id="options-section">
        <ul>
            <li data-type="new"><a href="#">Hacker News</a></li>
            <li data-type="top"><a href="#">Top News</a></li>
            <li data-type="ask"><a href="#">Ask</a></li>
            <li data-type="show"><a href="#">Show News</a></li>
            <li data-type="job"><a href="#">Job</a></li>
        </ul>
    </section>
</div>